<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Error</title>
        <link rel="stylesheet" href="/styles/index.css" />
        <link rel="stylesheet" href="/styles/error.css" />
    </head>
    <body>
        <div id="err-container">
            <div id="err-header">Error</div>
            <div id="err-msg"><%= msg %></div>
            <a href="/">Go back to home</a>
        </div>
    </body>
</html>
