<div id="header">
    <div id="text">
        <img src="images/members-only.png" />
        <div>Members Club</div>
    </div>
    <% if (locals.user) { %>
    <div id="authOptions">
        <div>Welcome, <%= locals.user.username %>!</div>
        <div id="options">
            <a href="/join-club">Join club</a>
            <a href="/become-admin">Become admin</a>
            <a href="/logout">Logout</a>
        </div>
    </div>
    <% } %>
</div>
