<div id="header">
    <a id="text" href="/">
        <img src="images/members-only.png" />
        <div>Members Club</div>
    </a>
    <% if (user) { %>
    <div id="authOptions">
        <div>Welcome, <%= user.username %>!</div>
        <div id="options">
            <a href="/join-club">Join club</a>
            <a href="/become-admin">Become admin</a>
            <a href="/logout">Logout</a>
        </div>
    </div>
    <% } %>
</div>
