<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Soli Membri</title>
    </head>
    <body>
        <!-- HEADER for all pages -->
        <%- include('header', { user: locals.user }) %>

        <!-- MAIN for all pages -->
        <div id="main">
            <!-- display messages only if user authenticated -->
            <% if (locals.isAuthenticated) { %> <%- include('messages') %> <% }
            else { %> <%- include('welcome-page') %> <% } %>
        </div>

        <!-- FOOTER for all pages -->
        <%- include('footer') %>
    </body>
</html>
