<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Members Only</title>
        <link rel="icon" href="/images/members-only.png" type="image/x-icon" />
        <link rel="stylesheet" href="/styles/index.css" />
        <link rel="stylesheet" href="/styles/header.css" />
        <link rel="stylesheet" href="/styles/footer.css" />
        <link rel="stylesheet" href="/styles/welcome-page.css" />
        <link rel="stylesheet" href="/styles/auth.css" />
        <link rel="stylesheet" href="/styles/messages.css" />
        <link rel="stylesheet" href="/styles/create-msg.css" />
        <link rel="stylesheet" href="/styles/join-club.css" />
        <link rel="stylesheet" href="/styles/success.css" />
    </head>
    <body>
        <!-- Include the header -->
        <%- include('header', { user: user }) %>

        <!-- MAIN content will be injected here -->
        <div id="main"><%- body %></div>

        <!-- Include the footer -->
        <%- include('footer') %>
    </body>
</html>
