<% layout('layout') %>

<!-- flash (error) messages if they exist -->
<% if (messages && messages.length > 0) { %>
<div class="error-message">
    <% messages.forEach((message) => { %>
    <p><%= message %></p>
    <% }); %>
</div>
<% } %>

<!-- LOGIN FORM -->
<form action="/login" class="login-form" method="POST">
    <label for="username">Username</label>
    <input type="text" name="username" id="username" />

    <label for="password">Password</label>
    <input type="password" name="password" class="password" />

    <button type="submit">Submit</button>
</form>

<div class="not signup">
    Do not have an account? <a href="/signup">Sign Up</a>
</div>
