<% layout('layout') %>

<!-- LOGIN FORM -->
<form action="/login" class="login-form" method="POST">
    <div id="form-header">Log In</div>

    <!-- flash (error) messages if they exist -->
    <% if (errors && errors.length > 0) { %>
    <div id="error-msg">
        <% errors.forEach((error) => { %>
        <p><%= error %></p>
        <% }); %>
    </div>
    <% } %>

    <label for="username">Username</label>
    <input type="text" name="username" id="username" />

    <label for="password">Password</label>
    <input type="password" name="password" class="password" />

    <button type="submit">Log In</button>

    <div class="not signup">
        Do not have an account? <a href="/signup">Sign Up</a>
    </div>
</form>
