<% layout('layout', { user: user }) %>

<div>
    <h1>MESSAGES1</h1>
    <h1>MESSAGES</h1>
    <h1>MESSAGES</h1>
    <h1>MESSAGES</h1>
    <h1>MESSAGES</h1>
    <h1>MESSAGES</h1>
    <h1>MESSAGES</h1>
    <h1>MESSAGES</h1>
    <h1>MESSAGES</h1>
    <h1>MESSAGES</h1>
    <h1>MESSAGES</h1>
    <h1>MESSAGES</h1>
    <h1>MESSAGES</h1>
    <h1>MESSAGES</h1>
    <h1>MESSAGES</h1>
    <h1>MESSAGES</h1>
    <h1>MESSAGES</h1>
    <h1>MESSAGES</h1>
    <h1>MESSAGES</h1>
    <h1>MESSAGES</h1>
    <h1>MESSAGES</h1>
    <h1>MESSAGES</h1>
    <h1>MESSAGES</h1>
    <h1>MESSAGES LAST</h1>
</div>
