<div id="welcome">
    <div id="welcome-msg">Welcome to Members Only Club</div>
    <div id="auth-container">
        <a href="/login">Log In</a>
        <span>/</span>
        <a href="/signup">Sign Up</a>
    </div>
</div>
