<% layout('layout', { user: user }) %>

<div id="success-container">
    <div id="success-header">You are now ADMIN. You have next rights:</div>
    <ul id="user-rights">
        <li>See who had posted the message (as club member)</li>
        <li>See when the message was posted (as club member)</li>
        <li>Delete messages (as admin)</li>
    </ul>
</div>
