<% layout('layout', { user: user }) %>

<div id="success-container">
    <div id="success-header">
        You are now CLUB MEMBER. You have next rights:
    </div>
    <ul id="user-rights">
        <li>See who had posted the message</li>
        <li>See when the message was posted</li>
    </ul>
</div>
