#header {
    position: sticky;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #414141;
    border: 2px solid white;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#text {
    font-size: clamp(1em, 3vw, 2rem);
    font-weight: 600;
    margin: 0 2em;
    width: 100%;
    flex: 1;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 0.5em;
    color: white;
    text-decoration: none;
}

#text img {
    width: 40px;
}

#authOptions {
    display: flex;
    width: 100%;
    gap: 1em;
    margin: 0 2em;
    justify-content: end;
    flex: 2;
}

#options {
    display: flex;
    gap: 1em;
    text-align: center;
    justify-content: end;
    align-items: center;
}

/* Unvisited link */
#options a:link {
    color: rgb(35, 35, 255);
    text-decoration: none;
}

/* Visited link */
#options a:visited {
    color: rgb(255, 0, 255);
}

/* On mouse hover */
#options a:hover {
    color: rgb(0, 11, 213);
}

@media (max-width: 550px) {
    #header {
        flex-direction: column;
        gap: 2em;
    }

    #text {
        text-align: center;
        font-size: 24px;
    }

    #authOptions {
        flex-direction: column;
        text-align: center;
    }

    #options {
        justify-content: center;
    }
}

@media (max-width: 370px) {
    #options {
        flex-direction: column;
    }
}
