#success-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3em auto;
    font-size: 20px;
    background-color: #205815;
    border: 1px solid rgb(0, 255, 8);
    padding: 7px;
    border-radius: 5px;
    margin-bottom: 2em;
    color: #def8d7;
}

#user-rights {
    margin-top: 0.5em;
}

#already-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3em auto;
    font-size: 32px;
    background-color: #583a15;
    border: 1px solid rgb(255, 162, 0);
    padding: 7px;
    border-radius: 5px;
    margin-bottom: 2em;
    color: #f8ead7;
}
